[submodule "odoocr/l10n_cr"]
	path = odoocr/l10n_cr
	url = git@github.com:odoocr/l10n_cr.git
	branch = 12.0

[submodule "norubo/l10n_cr"]
	path = norubo/l10n_cr
	url = git@github.com:norubo/l10n_cr.git
	branch = 12.0
