[submodule "norubo/odoo-tir"]
	path = norubo/odoo-tir
	url = git@github.com:norubo/odoo-tir.git
	branch = 12.0

[submodule "norubo/l10n_cr"]
	path = norubo/l10n_cr
	url = git@github.com:norubo/l10n_cr.git
	branch = 12.0
